@model SmokeBlog.Web.ViewModels.Home.IndexViewModel
@inject SmokeBlog.Core.Security.ISecurityManager SecurityManager

@{ 
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

@foreach (var article in Model.ArticleList)
{
    <article class="post" id="article_@article.ID">
        <header class="post-header">
            <h2 class="post-title">
                <a href="/post/welcome-to-blogengine-net-3-0">@article.Title</a>
            </h2>
            <div class="post-info clearfix">
                <span class="post-date">
                    <i class="fa fa-calendar"></i>
                    @article.PostDate.ToString("yyyy年MM月dd日")
                </span>
                <span class="post-author">
                    <i class="fa fa-user"></i>
                    <a href="http://localhost:10002/author/Admin">@article.User.Nickname</a>
                </span>
                <span class="post-category">
                    <i class="fa fa-folder"></i>
                    @foreach (var cat in article.CategoryList)
                    {
                    <a href="/category/BlogEngineNET">@cat.Name</a>
                    }
                </span>
                <a rel="nofollow" class="pull-right post-comment-link" href="/post/welcome-to-blogengine-net-3-0#comment">
                    <i class="fa fa-comment"></i>
                    (@article.Comments.Pass)
                </a>
            </div>
        </header>
        <section class="post-body text">
            @Html.Raw(article.Content)
        </section>
    </article>
}